---
import { getCollection } from 'astro:content';
import PostsLayout from '../../layouts/PostsLayout.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, pubDate, description } = entry.data;
const { Content } = await entry.render();
---

<BaseLayout pageTitle={title}>
  <article class='narrow flow'>
    <h1>{title}</h1>
    <div class='meta'>
      <time datetime={pubDate.toISOString()}>
        {pubDate.toDateString()}
      </time>
      <div class='muted description'>{description}</div>
    </div>
    <Content />
  </article>
</BaseLayout>

<style>
  article {
    margin-bottom: 4rem;
  }
  .meta {
    margin-block-end: 2em;
  }
  .description {
    display: list-item;
    list-style-type: '↳ ';
    margin-left: 2ch;
  }
</style>
