---
import './calculator.css';

const operators = [
  ['/', '÷'],
  ['*', '×'],
  ['-', '-'],
  ['+', '+'],
  ['=', '='],
];
const numbers = [7, 8, 9, 4, 5, 6, 1, 2, 3];

import batteryImage from './battery.svg';
import detailImage from './detail.svg';
---

<div class='slider-container'>
  <label for='slider'>Rotate Visibility:</label>
  <input type='range' id='slider' min='0' max='100' value='0' step='1' />
</div>

<div class='calculator'>
  <div class='calc-head'>
    <div class='head-border'>
      <div class='machine-mark'></div>
      <div class='machine-mark'></div>
    </div>
    <div class='head-content'>
      <div class='model-number'>TE-FX877</div>
      <div>10-DIGIT CALCULATOR</div>
    </div>
    <div class='head-border'>
      <div class='machine-mark'></div>
      <div class='machine-mark'></div>
    </div>
  </div>
  <div class='screen'>
    <div class='glare'></div>
    <div class='display'>
      <div class='display-top'>
        <img class='battery' src={batteryImage.src} alt='battery indicator' />
      </div>
      <div class='interface'>
        <div class='interface-text'>0</div>
      </div>
      <div class='display-bottom'>
        <img class='detail' src={detailImage.src} alt='alert indicator' />
        <img class='detail' src={detailImage.src} alt='alert indicator' />
      </div>
    </div>
  </div>
  <div class='pad-wrapper'>
    <div class='pad-cmd'>
      <div class='btn-socket'>
        <div class='btn orange' id='clear'>AC</div>
      </div>
      <div class='btn-socket'>
        <div class='btn grey' id='±'>±</div>
      </div>
      <div class='btn-socket'>
        <div class='btn grey' id='%'>%</div>
      </div>
    </div>
    <div class='pad-operators'>
      {
        operators.map((o) => (
          <div class='btn-socket'>
            <div class='btn' id={o[0]}>
              {o[1]}
            </div>
          </div>
        ))
      }
    </div>
    <div class='pad-num-grid'>
      <div class='pad-num-row'>
        <div class='btn-socket'>
          <div class='btn' id='point'>.</div>
        </div>
        <div class='btn-socket long'>
          <div class='btn' id='0'>0</div>
        </div>
      </div>
      <div class='pad-num-row main'>
        {
          numbers.map((n) => (
            <div class='btn-socket'>
              <div class='btn' id={n.toString()}>
                {n}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<script src='./calculator.js'></script>
<script>
  const glareElement = document.querySelector('.glare');
  const slider = document.getElementById('slider');

  function easeIn(t) {
    return t * t;
  }

  function easeOut(t) {
    return 1 - (1 - t) * (1 - t);
  }

  function updateClipPath() {
    const value = slider.value;

    const easedValueC = easeIn(value / 100);
    const easedValueD = easeOut(value / 100);

    const C = [100, easedValueC * 170 - 30];
    const D = [0, 140 - easedValueD * 170];

    glareElement.style.clipPath = `polygon(0% 0%, 100% 0%, ${C[0]}% ${C[1]}%, ${D[0]}% ${D[1]}%)`;
  }

  // Add event listener to the slider
  slider.addEventListener('input', updateClipPath);
</script>
